<ul id="post-comments=<%=post._id%>">
    <%for(comment of post.comments)
       {%>
    <p>
        <%=comment.content %>
        <span>
            <%=comment.user.name %>
        </span>
        <%if(locals.user && locals.user.id == comment.user.id){%>
        <a href="/comments/destroy/<%=comment.id%>">x</a>
        <%}%>
       </p>

       <%}%>
</ul>