<h1>Sign In</h1>
<form action = "/users/createSession" method="post">
    <input type="email" name="email" placeholder="email" id="">
    <input type="password" name="password" placeholder="password" id="">
    <input type="submit">
</form>
<p>
    <a href="/users/auth/google">Google Signin/SignUp</a>
</p>