<h1>Sign Up</h1>

<form action="/users/create" method="post">
    <input type="text" name="name" placeholder="name" id="">
    <input type="email" name="email" placeholder="email" id="">
    <input type="password" name="password" placeholder="password" id="">
    <input type="password" name="confirm_password" placeholder="confirm-password" id="">
    <input type="submit" name="" id="">
</form>

<p>
    <a href="/users/auth/google">Google Signin/SignUp</a>
</p>